@page "/AddNewExercice"
@using BlazorApp.Data.Entities
@inject ExerciceService exerciceService
@inject NavigationManager NavigationManager

<h3>Add new exercise</h3>
<hr />

<form>
	<div class="row">
		<div class="col-md-8">
			<div class="for-group">
				<label for="Name" class="control-label">Name</label>
				<input form="Name" class="form-control" @bind="@obj.Name" />
			</div>
			<div class="for-group">
				<label for="Description" class="control-label">Description</label>
				<input form="Description" class="form-control" @bind="@obj.Description" />
			</div>
			<div class="form-group row">
				<label for="DifLevel" class="col-sm-2 col-form-label">
					Difficuly Level
				</label>
				<div class="col-sm-10">
					<InputSelect @bind-Value="Exercice.DifficultyLevel" class="form-control">
						@foreach (var DifLevel in Enum.GetValues(typeof(DifficultyLevel)))
						{
							<option value="@DifLevel">@DifLevel</option>
						}
					</InputSelect>
				</div>
			</div>
			<div class="for-group">
				<label for="MuscleGroup" class="control-label">Muscle Group</label>
				<input form="MuscleGroup" class="form-control" @bind="@obj.MuscleGroup" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<input type="button" class="btn btn-primary" @onclick="@AddNewExerciceDetails" value="save exercise" />
				<input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
			</div>
		</div>

	</div>
</form>

@code {
	Exercice obj = new Exercice();
	protected async void AddNewExerciceDetails()
	{
		await exerciceService.AddNewExercice(obj);
		NavigationManager.NavigateTo("Exercises");
	}
	protected async void Cancel()
	{
		NavigationManager.NavigateTo("Exercises");
	}
}

